* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    background-color: #f6f6f6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
}

.product * {
    background-color: inherit;
    font-family: Arial;
}

.product-description>p {
    font-size: 24px;
}

.description-text {
    width: 650px;
    margin-bottom: 80px;
}

p.price {
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: bold;
}

.add-to-cart {
    display: inline-block;
    background-color: #ec744a;
    padding: 15px 40px;
}

.add-to-cart>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}